<h2>Hello Rails </h2>

    <h4>Printing values from demo controller</h4>
    <%@array.each do |n|%>
	<%= n %>
	<% end %>

	<% var = "I am Nitika "%>
	<% "#{var}"%>

    <br>
	<a href="/demo/index">I am ankle tag -click me 1 </a> 
	<br>


    <%= link_to('I am link to method -click me 2',{:action => 'new'}) %> <br>

    <%= link_to('I am link to method -click me 3',{:action => 'now'}) %> <br>


  
